*.log
*.pot
*.pyc
__pycache__/
local_settings.py

db.sqlite3
db.sqlite3-journal

media/
staticfiles/
static_root/

venv/
env/
.venv/
.env/

.env

.idea/
*.iml
*.iws
workspace.xml

.DS_Store
Thumbs.db

.txt
